services:
  api:
    build: .
    environment:
      DATABASE_URL: "postgresql+asyncpg://iot_zay4_user:DxrBBCLrmwYWGveqLdBRHDwYjgYjfWqM@dpg-d4ecckidbo4c73dee37g-a.frankfurt-postgres.render.com:5432/iot_zay4"
      DOWNSTREAM_BASE_URL: "https://retaliatory-bruna-unofficious.ngrok-free.dev"
      DOWNSTREAM_TIMEOUT_SEC: "30"
      PORT: "8999"
    ports:
      - "8999:8999"
    restart: unless-stopped