services: 
  model-server:
    build:
      context: ./web_nlp_module/app
      dockerfile: model-server.Dockerfile 
    container_name: model-server
    ports:
      - "8001:8001"
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - AUTH_TOKEN_NGROK:="x-auth-token" # << Use the x-auth-token
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia 
    networks:
      - appnet

  web-server:
    build:
      context: ./web_nlp_module/app
      dockerfile: web-server.Dockerfile 
    container_name: web-server
    depends_on:
      - model-server
    ports:
      - "8080:8080"
    environment:
      - MODEL_SERVER=http://model-server:8001/predict
    networks:
      - appnet

  frontend:
    build:
      context: frontend
      dockerfile: frontend.Dockerfile 
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=/api
    depends_on:
      - web-server
    networks:
      - appnet

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: linkcache
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports: 
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d linkcache"]
      interval: 3s
      timeout: 3s
      retries: 10
    volumes: 
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  api:
    build:
      context: ./middleware
      dockerfile: middleware.Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+asyncpg://app:app@db:5432/linkcache
      DOWNSTREAM_BASE_URL: http://web-server:8080  # Use internal service name
      DOWNSTREAM_TIMEOUT_SEC: 30
      PORT: 8999
    ports: 
      - "8999:8999"
    restart: unless-stopped
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api:8999/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge