version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: web_nlp_module/web-nlp.Dockerfile 
    container_name: fastapi-backend
    ports:
      - "8080:8080"
    environment:
      - HF_TOKEN=${HF_TOKEN}
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia 
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: frontend/frontend.Dockerfile 
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge